body {
    background-color: #555656;
    font-family: "Trispace", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 99%;
    font-size: 20px;
    color: #f6f5f7;
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 12px;
    }
}


h1 {
    font-size: 40px;
    font-weight: bold;
    background-image: url('gif.gif');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

i {
    background-image: url('gif.gif');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
    min-width: 90vw;
    min-height: 80vh;
    background: #555656;
    box-shadow: inset 15px 15px 30px #484949,
        inset -15px -15px 30px #626363;
}

.box div.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

div.list p {
    margin-bottom: 3em;
}
@media only screen and (max-width: 300px) {
    div.list p {
        margin-bottom: 5em;
    }
}

a {
    margin: .5em;
    margin-left: 0;
    padding: .5em;
    border-radius: 10px;
    background: #636464;
    box-shadow: 5px 5px 39px #383939,
        -5px -5px 39px #626363;
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    box-shadow: 5px 5px 39px #313131,
        -5px -5px 39px #ffffff;
    text-decoration: none;
}

.bottom {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: crosshair;
}

.rocket {
    font-size: 25px;
    margin: 0;
    animation: flying 1s ease-in-out infinite;
}

.shadow {
    background-color: #383939;
    border-radius: 30px;
    width: 20px;
    height: 5px;
    animation: shadow 1s ease-in-out infinite;
}


@keyframes flying {
    from {
        transform: translateY(10%);
    }

    to {
        transform: translateY(-15%);
    }
}

@keyframes shadow {
    from {
        width: 20px;
    }

    to {
        width: 10px;
    }
}